@use "base";
@use "tokens" as *;

@include base.root-base(".deepfake-extension-root");

@keyframes deepfake-highlight {
  0% {
    box-shadow: 0 0 0 0 rgba($state-info, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($state-info, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($state-info, 0);
  }
}


